<div class="box">
<%= image_tag pattern.image (:medium) %>
<p class="description">
<%= pattern.description %>
</p>
<%= link_to 'Show', pattern %>
<% if current_user == pattern.user %>
    <p>
	<%= link_to 'Edit', edit_pattern_path(pattern) %>
	<%= link_to 'Destroy', pattern, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>
</div>