<%= image_tag @pattern.image %>
<p>
  <%= @pattern.description %>
</p>
<p>
  By <%= @pattern.user.name %>
</p>

<% if current_user == @pattern.user %>
	<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<% end %>
<%= link_to 'Back', patterns_path %>
